.content{
	padding:0 auto;
    margin: 0 auto;
    text-decoration:none;
    list-style:none;
    height: 450px;
    width: 100%;
    background: rgb(219, 224, 255) no-repeat center;
    background-size:100% 450px ;
    margin-top: 25px;
}
.content a{
    color: blue;
    text-decoration: none;
}
.loginright{
    float: right;
    margin: 75px;
    border: 1px solid #000000
}
.loginmar{
    margin: 45px;
}


